/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
img {
  max-width: 100%;
}
.food {
  float: left;
  padding: 5px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.food p,
.food h2 {
  padding: 0;
  margin: 0;
}
.food h2 {
  margin-top: 7px;
  margin-bottom: 3px;
}
.food .row {
  padding: 0;
  margin: 0;
}
.food .content {
  width: 95%;
  margin: 0px auto;
  background-color: #f7f7f7;
  padding: 10px;
}
#home {
  position: relative;
  width: 100%;
}
.angular-ratings {
  float: left;
  width: 100%;
}
.angular-ratings li {
  background-color: transparent !important;
  border: none !important;
}
.imagePreview {
  display: none;
}
form img {
  max-width: 200px;
}
