@import "elements.less";

img {
    max-width:100%;
}

.food {
background-color:darken(#fff,3);
float:left;
padding:5px;
.box-sizing(border-box);
	background-clip:content-box;

	.row {
		padding:0;
		margin:0;
	}

	p,h3,a,img {
		padding-left:10px;
		padding-top:10px;
		margin-top:0;
	}

	h2 {
		padding-left:0px;
		margin-bottom:0px;
		font-size:17px;
		margin-top:0
	}
}


#home {
    position:relative;
    width:100%;
}


.angular-ratings {
	float:left;
	margin-left:20px !important;
	width:100%;

	li {
		background-color:transparent !important;
		border:none !important;
	}
}


.imagePreview {
	display:none;
}

form img {
	max-width:200px;
}